// still need to build this

python -m spacy download en_core_web_sm
pip install spacy
pip install datasets transformers
pip install torch torchvision torchaudio
pip install transformers
pip install sentencepiece
pip install protobuf

